*{
  background: rgb(36, 36, 36);
  color: #fff;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: #0786f2;
}

.navMenu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  background: #0786f2;
}

.navMenu li{
  list-style: none;
  background: #0786f2;
}

.navMenu a{
  text-decoration: none;
  color: #fff;
  background: #0786f2;
}

.navMenu a:hover{
  color: #000;
}

.switchNavs div{
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #fff;
}

.switchNavs{
  cursor: pointer;
  display: none;
  background-color: #0786f2;
}
@media screen and (max-width: 768px) {
  .switchNavs{
    display: block;
  }
  .navMenu{
    position: fixed;
    top: 7vh;
    right: 0;
    width: 40%;
    height: 93vh;
    background: #0786f2;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }
}

.navActive{
  transform: translateX(0);
}

.myTracker .mainH{
  text-align: center;
  border-bottom: 3px solid #fff;
  border-top: 4px solid #fff;
}

.myTracker .mainH5{
  text-align: center;
  border-bottom: 3px solid #fff;
}

.coinContainer{
  display: flex;
  justify-content: center;
}

.coinRow{
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #fff;
  width: 80%;
}

.coin{
  display: flex;
  align-items: center;
  padding-right: 14px;
  min-width: 300px;
}

.coin h1{
  font-size: 16px;
  width: 150px;
}

.coin img{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coinSymbol{
  text-transform: uppercase;
}

.coinInfo{
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coinPrice{
  width: 110px;
}

.coinVolume{
  width: 200px;
}

.coinMktCap {
  width: 240px;
}

.coinP {
  width: 80px;
}

.Red{
  color: #f00606;
}

.Green{
  color: #11d811;
}

.cryImg img{
  width: 768px;
}