*{
  background: rgb(36, 36, 36);
  color: #fff;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: #0786f2;
}

.navMenu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  background: #0786f2;
}
.navMenu li{
  list-style: none;
  background: #0786f2;
}
.navMenu a{
  text-decoration: none;
  color: #fff;
  background: #0786f2;
}
.navMenu a:hover{
  color: #000;
}
.switchNavs div{
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #fff;
}
.switchNavs{
  cursor: pointer;
  display: none;
  background-color: #0786f2;
}
@media screen and (max-width: 768px) {
  .switchNavs{
    display: block;
  }
  .navMenu{
    position: fixed;
    top: 7vh;
    right: 0;
    width: 40%;
    height: 93vh;
    background: #0786f2;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }
}

.navActive{
  transform: translateX(0);
}